<div class='container'>
    <%= form_with model: @house, local: true do |form| %>

    <% if @house.errors.any? %>

        <div id='error_explanation' >
            <h2>
                <%= pluralize(@house.errors.count, 'error') %>
                    prohibited this article being saved:
            
            </h2>
                <% @house.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
        
        
        </div>
    
    <% end %>
    <p>
        <%= form.label :rooms %>
        <%= form.number_field( :rooms, min: 0) %>
    </p>

    <p>
        <%= form.label :house_type %>
        <%= form.select(:house_type, options_for_select([[
         'house,cottage,villa, semi,terrace', 'h'], ['townhouse','t'], ['unit, duplex','u'],
          ['bedroom(s)','br']]) ) %>
    </p>

    <p>
        <%= form.label :price %>
        <%= form.number_field( :price, min: 0, step: 0.01)  %>
    </p>

    <p>
        <%= form.label :method %>
        <%= form.select(:method,  options_for_select([['property sold','S'],
         ['property sold prior','SP'], ['property passed in','PI'], 
         ['sold not disclosed','SN'], ['no bid','VB'],
          ['sold after auction','SA'], ['sold prior not disclosed','PN']])) %>
    </p>

    <p>
        <%= form.label :date %>
        <%= form.date_field :date %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>


</div>