<h1>Listing Houses</h1>
<%= link_to 'New House', new_house_path %>
<div>
<table class='table table-bordered table-stripped'>
    <tr>
        <th>Rooms</th>
        <th>House Type</th>
        <th>Price</th>
        <th>Method</th>
        <th>Date Sold</th>
        <th clospan='3'></th>
    </tr>

    <% @houses.each do |house| %>

        <tr>
            <td><%= house.rooms  %></td>
             <td><%= house.house_type %> </td>
              <td><%= house.price %></td>
               <td><%= house.method %> </td>
                <td><%= house.date %> </td>
                 <td><%= link_to 'Show', house_path(house) %> </td>
                  <td><%= link_to 'Edit', edit_house_path(house) %> </td>
                   <td><%= link_to 'Destroy', house_path(house), method: :delete, 
                   data: {confirm: 'Are you sure?' }  %> </td>
        
        </tr>

    <% end %>

</table>

<%= link_to 'Home', melbourne_home_path  %>