<p>
    <strong>Rooms</strong>
    <%= @house.rooms %>
</p>

<p>
     <strong>House Type</strong>
    <%= @house.house_type %>
</p>

<p>
    <strong>Price</strong>
    <%= @house.price %>
</p>

<p>
    <strong>Method</strong>
    <%= @house.method %>
</p>

<p>
    <strong>Date sold</strong>
    <%= @house.date %>
</p>

<h2>Locations</h2>
<%= render @house.locations %>

<h2>Add a location:</h2>
<%= render 'locations/form' %>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>