<%= form_with(model: [ @house, @house.locations.build ],
    local: true) do |form|  %>
    <p>
        <%= form.label :suburb %>
        <%= form.text_field :suburb %>
    </p>
     <p>
        <%= form.label :address %>
        <%= form.text_field :address %>
    </p>
     <p>
        <%= form.label :postcode %>
        <%= form.text_field :postcode %>
    </p>
     <p>
        <%= form.label :regionname %>
        <%= form.text_field :regionname %>
    </p>
     <p>
        <%= form.label :propertycount %>
        <%= form.number_field :propertycount %>
    </p>
     <p>
        <%= form.label :distance %>
        <%= form.number_field( :distance, min: 0, step: 0.01)%>
    </p>

     <p>
        <%= form.submit %>
        
    </p>

<% end %>