<p>
    <strong>Suburb:</strong>
    <%= location.suburb %>
</p>

<p>
    <strong>Address:</strong>
    <%= location.address %>
</p>

<p>
    <strong>Postcode:</strong>
    <%= location.postcode %>
</p>

<p>
    <strong>Region name:</strong>
    <%= location.regionname %>
</p>

<p>
    <strong>Propertycount:</strong>
    <%= location.propertycount %>
</p>

<p>
    <strong>Distance:</strong>
    <%= location.distance %>
</p>

<p>
<%= link_to 'Edit', edit_house_location_path(@house) %></p>
<p>
    <%= link_to 'Destroy Location', [location.house, location],
    method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p><%= link_to 'Back', houses_path %></p>